section {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    width: 100%;
    background-color: rgba(49, 128, 225, 0.419);
    color: red;
    font-size: 100px;
}

.center_text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}